body {
  margin: 0;
}


#h1-id {
  margin: auto;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  margin: 10px auto 0 auto;
  color: white;
  line-height: 2;
  text-align: center;
  padding-top: 15rem;

}

#h2-id {
font-family: 'Montserrat', sans-serif;
font-size: 1.5rem;
color: white;
font-weight: normal;
text-align: center;

}



.TopContainer {
background-color: black;
position: relative;
padding-top: 1px;
background-size: cover;
width: 100%;
height: 100vh;
position:absolute;
display:block;
top: 0;
left: 0;
z-index: -1;


}

#Top {
z-index: 1;
width: 100%;
height: 100vh;
    
}

.navbar {
z-index: 2;
    
}
