/*Body starts here*/

body {
  margin: 0;
}

#backgroud {
    background-color: whitesmoke;
}

h2 {
font-size: 2rem;
font-weight: normal;
text-align: center;

}

/*body ends here*/

/*----------------------------------------------*/

/*Navbar starts here*/

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: black;
}

.ul {
    margin-top: 0;
    margin-bottom: 10px;
   
}


/*Navbar ends here*/

/*------------------------------------------------*/

/*Landing page starts here*/

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:absolute;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
    border-radius: 10px;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}



#h1-id {
  margin: auto;
  font-family:monospace;
  font-size: 4rem;
  margin: 5px auto 0 auto;
  color: black;
  line-height: 2;
  text-align: center;
  padding-top: 1rem;

}

#h2-id {
font-family:monospace;
font-size: 1.5rem;
color: black;
font-weight: normal;
text-align: center;

}

.TopContainer {
position: relative;
padding-top: 1px;
background-size: cover;
width: 100%;
height: 100vh;
position:absolute;
display:block;
top: 0;
left: 0;
z-index: -1;


}

#Top {
z-index: 1;
width: 100%;
height: 100vh;
    
}

.navbar {
z-index: 1000;

}


/*Landing page ends here*/


/*-----------------------------------------*/


/*About me Starts here*/



.skill-row {
  width: 50%;
  margin: auto auto 210px auto;
    padding-top: 11%;
  line-height: 2;
    text-align: center;

}

#par {
    text-align: center;
   }



.skills-img {
    width: 20%;
    align-content: center;
    padding-bottom: 1%;
    }


/*About me endss here*/

/*-----------------------------------------*/


/*My Projects strats here*/
.Proj {
    margin: 2%;
}

.Proj3 {
    margin: 4%;
    margin-top: 15%;
}

.card-group {
        margin: 40px;
    }


/*My Projects ends here*/

/*---------------------------------------------------*/

/*Education starts here*/

.Ed {
    padding-top: 3%;
    padding-bottom: 1%;
    
}

.card-content {
    padding: 30px;
    padding-left: 10rem
}

.card-title {
    line-height: 1.5rem;
    font-size: 14px;
    text-align: center;
}

.cardpic {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#cert {
    margin-left: 18%;
    margin-right: 18%;
}

.school {
    text-align: center;
    
}

.card-text {
    text-align: center;
}






/*Education starts here*/

/*-------------------------------------------------------*/

/*Skills starts here*/

.skills2 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding-left: 0;
    margin-left: 25%;
    list-style: none;
    width: 50%;
    padding-bottom: 7%;

}




/*Skills ends here*/

/*-----------------------------------------------------------*/

/*	Contact Form starts here */

form { 
    
max-width:920px; 
    
margin:50px auto; 

}

.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid black;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

#texta {
    width: 100%; 
    height: 220px;
}

[type="submit"] {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

.Proj2 {
text-align: center;
}

/*	Contact Form ends here */


/*----------------------------------------------------*/

/*Footer Starts here*/

#credits {
	padding:20px 0;
	font-size:12px;
	line-height: 1.6;
    background-color: rgb(52,58,64);
    font-family: 'Montserrat', sans-serif;
    margin-top: 7%;
    
}
#credits a {
	color:white;
}


/*Footer endss here*/

/*----------------------------------------------------*/

/*@media starts here*/

@media only screen and (max-width: 1256px) {
#h1-id {
    font-size: 3.75rem;
}
    h2 {
font-size: 1.25rem;
}
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
    padding: 30px;
  }
#h1-id {
    font-size: 3rem;
}
    
    .space {
    padding: 1%;
}
}

@media only screen and (max-width: 600px) {
  .responsive {
    width: 100%;
  }
    .space {
    padding: 4%;
}
    #credits {
    margin-top: 30%;
    }
#h1-id {
  font-size: 2.5rem;
  color: black;
  line-height: 1.5;
  text-align: center;
  padding-top: 1rem;
    padding-bottom: 1rem;

}
    
.card-content {
    padding: 30px;
    padding-left: 10rem;
    padding-right: 2rem;
    

}
    

form {
    max-width: 720px;
    margin: 50px 10px;
}


.skills-img {
    width: 40%;
    }
    

.card-group {
        margin: 0px;
    }
	
#texta {
    width: 100%; 
    height: 130px;
}
.feedback-input {
    margin-bottom: 0px;
    
    }
    
.skill-row {
  width: 85%;
    padding-top: 110px;
  line-height: 2;
    text-align: center;

}
    
.skills2 {
    margin-left: 15%;
    list-style: none;
    width: 70%;
    padding-bottom: 7%;

}
    
}
    
@media only screen and (max-width: 500px) {
 .responsive {
    width: 100%;
  }
    
    
    
.card-content {
    padding: 10px;
    padding-left: 5rem;
    padding-right: 3rem;
    

}
    
    }
    


}



    
    /*@media ends here*/

